<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kiki.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TestActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrierungActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HaushalteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HaushaltErstellenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HaushaltBeitretenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EinkaufslisteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RezeptUebersichtActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RezeptErstellenActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".KontoErstellenActivity"></activity>
    </application>

</manifest>